@import "../../animations";

.scrollable-panel-menu {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;

  ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    list-style: none;
    margin: 0 auto;

    li {
      display: flex;
      margin: 25px;
    }

    button {
      margin: auto;
      padding: 0;

      $deselectedButtonSize: 25px;
      height: $deselectedButtonSize;
      width: $deselectedButtonSize;

      display: inline-block;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      background-color: #FFFFEE;
    }

    button:focus {
      outline:0;
    }

    li.selected {
      button {
        animation: pulse-white 2s infinite;
        transform: scale(1);
      }
    }

    li.loading {
      button {
        $buttonSize: 50px;
        height: $buttonSize;
        width: $buttonSize;
      }
    }

  }
}