@import "src/components/animations";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

$aphexScale: 1.5rem;
$slideInDuration: 1;

.aphex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: rotate(-45deg);
  margin-top: $aphexScale * -6; // Properly center as stripes aren't in the DOM
}

.aphex-header {
  font-size: $aphexScale;
  margin: 0 auto 0.5rem auto;
  text-transform: uppercase;

  .aphex-title {
    font-family: 'Krona One', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 0.5em;
    color: #e5dbd1;
    transform: scale(1.5, 1);
    transform-origin: left;
  }

  .aphex-subtitle {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e5dbd1;
  }
}

.aphex-stripes {
  position: relative;
}

$lines: 2, 3, 4, 5, 6;

.aphex-stripe {
  width: 200vw;
  height: $aphexScale;
  position: absolute;
  left: -100vw;

  &.yellow { background-color: #ebb904; }
  &.orange { background-color: #dd4401; }
  &.red { background-color: #db0020; }
  &.purple { background-color: #ae0076; }
  &.blue { background-color: #01479a; }
  &.green { background-color: #019935; }

  @each $n in $lines {
    &:nth-child(#{$n}) {
      top: ($n - 1) * $aphexScale;
    }
  }
}

/* Animating in */
.current-panel:not(.fading-panel) {
  .aphex-header {
    animation-name: stripe-gone, stripe-widen;
    animation-delay: 0s, #{$slideInDuration}s;
    animation-duration: #{$slideInDuration}s, 0.5s;
  }

  .aphex-stripe {
    &:nth-child(1) {
      animation-name: stripe-slidein-from-left;
      animation-duration: #{$slideInDuration}s;
      animation-timing-function: linear;
      transform-origin: left;
    }

    @each $n in $lines {
      &:nth-child(#{$n}) {
        $widenDelay: $slideInDuration + (($n - 2) * 0.15);

        animation-name: stripe-gone, stripe-widen;
        animation-delay: 0s, #{$widenDelay}s;
        animation-duration: #{$widenDelay}s, 0.5s;
        transform-origin: top;
      }
    }
  }
}

/* Animating out */
.fading-panel {
  .aphex-header {
    animation-name: stripe-fly-up-and-out;
    animation-delay: 0s;
    animation-duration: 1.5s;
  }

  .aphex-stripe {
    animation-delay: 0s;
    animation-duration: 1.5s;

    &:nth-child(1) {
      animation-name: stripe-fly-up-and-out;
    }

    @each $n in $lines {
      &:nth-child(#{$n}) {
        animation-name: stripe-fly-down-and-out;
        animation-delay: #{(6 - $n) * 1/6}s;
      }
    }
  }
}

