@import "src/components/variables";
@import "src/components/animations";

$scale: 5rem;

.supercolor-container {
  display: flex;
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
  color: #121415;
  flex-direction: column;
  font-family: 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;

  @include below('tablet') {
    height: auto;
  }

  strong {
    font-weight: 600;
  }
}

.supercolor-header {
  width: 30%;
  margin: auto auto 0 auto;
  text-align: right;

  @include below('tablet') {
    margin-top: 0.75em;
    width: 80%;
  }
}

.supercolor-title {
  font-size: 5rem;
  margin: 0;

  @include below('tablet') {
    padding-right: 1rem;
  }
}

.supercolor-subtitle {
  margin: .5rem 0 0 0;

  @include below('tablet') {
    display: none;
  }
}

.supercolor-top-strip-container {
  display: flex;
  flex-direction: row;
  height: .5rem;
}

.supercolor-top-strip {
  flex: 1;
}

.supercolor-main {
  display: flex;
  flex-direction: row;
  margin: 4rem 0 auto 0;

  @include below('tablet') {
    margin: 2rem;
  }

  @include below('mobile') {
    margin: 1rem;
  }
}

.supercolor-stripes {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  @include below('tablet') {
    display: none;
  }
}

.supercolor-content {
  flex: 1 1;
  padding: 0 3em 0 1em;
  font-size: 1.5rem;
  max-width: 800px;
  margin-right: auto;

  @include below('mobile') {
    font-size: 1.25rem;
    padding: 1em;
    overflow: scroll
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    line-height: 1.5;
  }

  h3 {
    margin-top: 0;
  }
}

.supercolor-stripe {
  display: flex;
  height: $scale;

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: auto;
  }
}

.supercolor-stripe-content {
  margin: auto 0 auto auto;
  padding-right: 2rem;

  color: #000;
  font-size: 1.5em;
}

.supercolor-top-strip {
  &.red { background-color: #E12D36; }
  &.green { background-color: #94C637; }
  &.blue { background-color: #028BBB; }
}

.supercolor-stripe {
  &.blue { background-color: #4295c7; }
  &.green { background-color: #6d9a35; }
  &.yellow { background-color: #faed51; }
  &.orange { background-color: #cc482b; }
  &.red { background-color: #c02c58; }
}

$slideInDuration: 1;
$lines: 1, 2, 3, 4, 5;

/* Animating in */
.current-panel:not(.fading-panel) {
  @each $n in $lines {
  .supercolor-stripe {
      &:nth-child(#{$n}) {
        $delay: ($n * 1/5);

        animation-name: stripe-slidein-from-left;
        animation-delay: 0s, #{$delay}s;
        animation-duration: #{$delay}s, 0.5s;
        transform-origin: left;
      }
    }
  }
}