@keyframes stripe-gone {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(0);
  }
}

@keyframes stripe-slidein-from-left {
  from {
    transform: translateX(-200vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes stripe-slidein-from-right {
  from {
    transform: translateX(200vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes stripe-slideout-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(200vw);
  }
}

@keyframes stripe-slideout-to-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200vw);
  }
}

@keyframes stripe-widen {
  from {
    transform: scale(1, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes stripe-shrink {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 0);
  }
}

@keyframes stripe-rotate-out {
  from {
    transform: rotate(0deg);
    transform-origin: left;
  }

  to {
    transform: rotate(90deg);
    transform-origin: left;
  }
}

@keyframes stripe-fly-up-and-in {
  from {
    transform: translateY(100vh);
    transform-origin: bottom;
  }

  to {
    transform: translateY(0);
    transform-origin: bottom;
  }
}

@keyframes stripe-fly-down-and-in {
  from {
    transform: translateY(-100vh);
    transform-origin: bottom;
  }

  to {
    transform: translateY(0);
    transform-origin: bottom;
  }

}

@keyframes stripe-fly-up-and-out {
  from {
    transform: translateY(0);
    transform-origin: bottom;
  }

  to {
    transform: translateY(-100vh);
    transform-origin: bottom;
  }
}

@keyframes stripe-fly-down-and-out {
  from {
    transform: translateY(0);
    transform-origin: bottom;
  }

  to {
    transform: translateY(100vh);
    transform-origin: bottom;
  }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}