@import './variables.scss';

body {
    background-color: $background;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.fullpage {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.centeredContainer {
    margin: auto;
}
